:root {
      --main-font: font-family: 'Roboto', sans-serif;
      --second-font: font-family: 'Raleway', sans-serif;
      --hover-color: #2196f3;
}

body {
      font-family: var(--main-font), 'Raleway', sans-serif ;
      color: #212121;
}

/* logo */
.logo {
      color: #000000;
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 26px;
      letter-spacing: 0.03em;
      text-decoration: none;
}

.span-logo {
      color: #2196F3;
}

/* navigation */
.navigation-item-link {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #212121;
}

.navigation-item-link:hover {
      color: #2196F3;
}

.navigation-mail,
.navigation-phone {
      font-weight: 500;
      font-size: 14px;
      line-height: 1.143;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #757575;
}

.navigation-mail:hover,
.navigation-phone:hover {
      color: #2196F3;
}